<div class="container">
  <h1>New Order</h1>

  <%= simple_form_for [@pet, @order], url: pet_orders_path do |form| %>

    <div class="form-actions">
      <%= form.input :date, as: :date, html5: true %>
      <%= form.button :submit, 'Create Order', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back', pets_path, class: 'btn btn-secondary mt-2' %>
</div>
