<h1> My Orders!</h1>

<% @orders.each do |order| %>
  <p>Date: <%= order.date %></p>
  <p> Pet: <%= link_to order.pet.name %></p>
  <p> Rented to: <%= "#{order.user.first_name} #{order.user.last_name}" %></p>
<% end %>

<%= link_to "Available pets", pets_path, class:"btn btn-gradient mt-3" %>
